body {
	background-color: #f4f7f7;
	font-family: fantasy;
	font-size: 18px;
}

h2 {
	background-color:beige;
}
ol {
	background-color: aquamarine
}

.par {
	background-image: url();
	color: white;
}

.jumbotron {
	background-color: yellow!important;
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSR61svtkj8vrPfJ5S6QxMjZuckc0ITtheH2v2cWwCbtrsR7kxE);
	color: white;
	background-repeat: no-repeat;
	background-size: cover;
}